<!-- partial for form (search by title, author) -->

<body>
  <main class="indexh4">
    <h3 class="indexh4">Books Galore</h3>
    <h5 id="indexcaption">Search by Title or Author</h5>
    <form action="/searches" method="post">
      <input type="text" name="search" id="indexbox" placeholder="Enter title/author">
      <fieldset>
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
        </label>
      </fieldset>
      <fieldset>
        <label for="author">
          <span>Author</span>
          <input type="radio" name="search" value="author" required>
        </label>
      </fieldset>
      <button type="submit">Search Google Books</button>
    </form>
  </main>
</body>